@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    min-height: 100vh;
      background: rgb(81, 206, 72);
    background: radial-gradient(circle, rgba(81, 206, 72,1) 0%, rgba(198,35,14,1) 100%);
}

.container {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #343434;
}

.container h1 {
    font-size: 125px;
    margin: 0px;
    font-weight: 900;
    letter-spacing: 18px;
    background: url(images/404.jpg) center no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}

button {
    text-decoration: none;
    background: #e55039aa;
    color: #fff;
    padding: 14px 26px;
    display: inline-block;
    border-radius: 25px;
    font-size: 15px;
    text-transform: uppercase;
    transition: 0.4s;

}

button:hover {
    background: #e55039;
}
