<<<<<<< HEAD:css/cities.css
* {
  box-sizing: border-box;
  
}

body {
  background: rgb(193,209,24);
  background: linear-gradient(270deg, rgba(193,209,24,1) 40%, rgba(250,255,0,1) 63%);
}


p {
    font-size: 25px;
    font-family: Poppins;
    text-align: center;
    padding: 12px;
    color: black;
    text-decoration: none;
}

.tcimg {
    position: relative;
    height: 210px;
    width: 210px;
    left: 40px;
    top: 30px;
    
  }

body {
  margin: 0;
  
}

.header {
  text-align: center;
  padding: 30px;
  color: brown;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 3px;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 5px;
}

.column img {
  margin-top: 6px;
  vertical-align: middle;
}

@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
=======
* {
  box-sizing: border-box;
  
}

body {
  background: rgb(193,209,24);
  background: linear-gradient(270deg, rgba(193,209,24,1) 40%, rgba(250,255,0,1) 63%);
}


p {
    font-size: 24px;
    font-family: Poppins;
    text-align: center;
    padding: 13px;
    color: black;
    text-decoration: none;
}

.tcimg {
    position: relative;
    height: 211px;
    width: 211px;
    left: 41px;
    top: 31px;
    
  }

body {
  margin: 0;
  
}

.header {
  text-align: center;
  padding: 31px;
  color: brown;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 5px;
}

.column img {
  margin-top: 5px;
  vertical-align: middle;
}

@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
>>>>>>> 227f1ec67bb8b18efcd91a897ca5d8dd9c0523f6:cities.css
