* {
  box-sizing: border-box;
  
}

body {
  background: black;
}

.tcimg {
  position: relative;
  height: 200px;
  width: 200px;
  left: 40px;
  top: 30px;
  
}

.C1 {
  font-size: 40px;
  color: #a52a2a;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.backbtn {
  position: absolute;
  right: 25px;
  top: 20px;
  border-radius: 15px;  
  background-color: #ffa64d;
  border: none;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;

}

.backbtn:hover {
  background-color: #663300;
  color:#ffff99;
}

body {
  margin: 0;
  font-family: Arial;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}




#myImg1, #myImg2, #myImg3, #myImg4, #myImg5, #myImg6,#myImg7, 
#myImg8, #myImg9, #myImg10, #myImg11, #myImg12, #myImg13, #myImg14,
#myImg15, #myImg16, #myImg17, #myImg18, #myImg19, #myImg20, #myImg21, 
#myImg22, #myImg23, #myImg24, #myImg25, #myImg26 {
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg1:hover, #myImg2:hover, #myImg3:hover, #myImg4:hover, 
#myImg5:hover, #myImg6:hover, #myImg7:hover, #myImg8:hover, 
#myImg9:hover, #myImg10:hover, #myImg11:hover, #myImg12:hover, 
#myImg13:hover, #myImg14:hover, #myImg15:hover, #myImg16:hover, 
#myImg17:hover, #myImg18:hover, #myImg19:hover, #myImg20:hover, 
#myImg21:hover, #myImg22:hover, #myImg23:hover, #myImg24:hover, 
#myImg25:hover, #myImg26:hover {
  opacity: 0.7;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9);
}


.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}


.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #cc6600;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9);
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: tomato;
  text-decoration: none;
  cursor: pointer;
}


@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}


@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
