<<<<<<< HEAD:css/styles.css
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Lobster&display=swap');


* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}


.navbar {
  background-color: #000000;


}

 a {
  color: #993300;
  font-size: 20px;
  font-weight: 500;
}

a:hover {
  color: #cc4400;
}


.navbar-toggler {
  background-color: #000;
  border-radius: 30px;
  
}






.jumbotron {
  background-image: url("images/a.jpg");
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 10rem;
  text-shadow: 2px 2px #000;
}

.lead span {
  color: orange;
  font-weight: bold;

}

.bg-cover {
  
  background-size: cover;
  color: white;
  background-position: center center;
  position: relative;
  z-index: -2;
}

.overlay {
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.footer{
  position: relative;
  top: 50px;
}



.img-fluid {
  border-radius: 50%;
  width: 220px;
  height: 220px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  padding-top: 30px;
  font-family: 'Josefin Sans', sans-serif;
}

h2 {
  font-family: 'Lobster', cursive;
  padding-top: 15px;
  padding-left: 50px;
}

h5{
  padding-left: 50px;
}

.f {
  display: block;
  padding: 9px;
  width: 100%;
  position: relative;
  bottom: 0px;
  background-color: #993300;
  color: white;
  text-align: center;
  height: 57px;
}

.form-control {
  background-color: #ffffb3;

}

.btn {
  background-color: #e6b800;
}




body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #ffe6b3;
}
.popup-container {

  padding: 20px;
  display: inline-block;
}
.popup-container .popup-button {
  background: #662200;
  line-height: 34px;
  color: #fff;
  padding: 0 20px;
  border-radius: 8px;
  display: block;
  cursor: pointer;
}
.popup-container .popup-button:hover {
  background: #444;
}
.popup-container .popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: 250ms all;
}
.popup-container .popup .popup-inner {
  width: 400px;
  box-sizing: border-box;
  padding: 20px;
  background: #675444;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 150%;
  transition: 250ms all;
}
.popup-container .popup .popup-inner .popup-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.popup-container .popup .popup-inner .popup-title h6 {
  font-size: 18px;
  font-weight: 500;
}
.popup-container .popup .popup-inner .popup-title .popup-close-btn {
  cursor: pointer;
  background: orange;
  display: block;
  line-height: 30px;
  padding: 0 15px;
  font-size: 14px;
  color: #222;
  border-radius: 3px;
}
.popup-container .popup .popup-inner .popup-content ul li {
  margin-bottom: 10px;
}
.popup-container .popup .popup-inner .popup-content ul li:last-child {
  margin-bottom: 0;
}
.popup-container .popup .popup-inner .popup-content ul li input {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 3px;
  line-height: 34px;
  padding: 0 15px;
  font-size: 14px;
  box-sizing: border-box;
}
.popup-container .popup .popup-inner .popup-content ul li button {
  width: 100%;
  line-height: 34px;
  background: #666;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  border: none;
  font-size: 14px;
}
.popup-container .popup .popup-inner .popup-content ul li button:hover {
  background: #444;
}
.popup-container .popup .transparent-label {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  cursor: pointer;
}
.popup-container > input {
  display: none;
}
.popup-container > input:checked + .popup {
  opacity: 1;
  visibility: visible;
}
.popup-container > input:checked + .popup .popup-inner {
  top: 50%;
}
=======
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Lobster&display=swap');


* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}


.navbar {
  background-color: #000000;


}
.fixedtop {
  top: 0;
  z-index: 10;
}
 a {
  color: #993300;
  font-size: 20px;
  font-weight: 500;
}

a:hover {
  color: #cc4400;
}


.navbar-toggler {
  background-color: #000;
  border-radius: 30px;
  
}






.jumbotron {
  background-image: url("images/a.jpg");
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 10rem;
  text-shadow: 2px 2px #000;
}

.lead span {
  color: orange;
  font-weight: bold;

}

.bg-cover {
  
  background-size: cover;
  color: white;
  background-position: center center;
  position: relative;
  z-index: -2;
}

.overlay {
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.footer{
  position: relative;
  top: 50px;
}



.img-fluid {
  border-radius: 50%;
  width: 220px;
  height: 220px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  padding-top: 30px;
  font-family: 'Josefin Sans', sans-serif;
}

h2 {
  font-family: 'Lobster', cursive;
  padding-top: 15px;
  padding-left: 50px;
}

.f {
  display: block;
  padding: 9px;
  width: 100%;
  position: relative;
  bottom: 0px;
  background-color: #993300;
  color: white;
  text-align: center;
  height: 57px;
}

.form-control {
  background-color: #ffffb3;

}

.btn {
  background-color: #e6b800;
}




body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #ffe6b3;
}
.popup-container {

  padding: 20px;
  display: inline-block;
}
.popup-container .popup-button {
  background: #662200;
  line-height: 34px;
  color: #fff;
  padding: 0 20px;
  border-radius: 8px;
  display: block;
  cursor: pointer;
}
.popup-container .popup-button:hover {
  background: #444;
}
.popup-container .popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: 250ms all;
}
.popup-container .popup .popup-inner {
  width: 400px;
  box-sizing: border-box;
  padding: 20px;
  background: #675444;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 150%;
  transition: 250ms all;
}
.popup-container .popup .popup-inner .popup-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.popup-container .popup .popup-inner .popup-title h6 {
  font-size: 18px;
  font-weight: 500;
}
.popup-container .popup .popup-inner .popup-title .popup-close-btn {
  cursor: pointer;
  background: orange;
  display: block;
  line-height: 30px;
  padding: 0 15px;
  font-size: 14px;
  color: #222;
  border-radius: 3px;
}
.popup-container .popup .popup-inner .popup-content ul li {
  margin-bottom: 10px;
}
.popup-container .popup .popup-inner .popup-content ul li:last-child {
  margin-bottom: 0;
}
.popup-container .popup .popup-inner .popup-content ul li input {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 3px;
  line-height: 34px;
  padding: 0 15px;
  font-size: 14px;
  box-sizing: border-box;
}
.popup-container .popup .popup-inner .popup-content ul li button {
  width: 100%;
  line-height: 34px;
  background: #666;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  border: none;
  font-size: 14px;
}
.popup-container .popup .popup-inner .popup-content ul li button:hover {
  background: #444;
}
.popup-container .popup .transparent-label {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  cursor: pointer;
}
.popup-container > input {
  display: none;
}
.popup-container > input:checked + .popup {
  opacity: 1;
  visibility: visible;
}
.popup-container > input:checked + .popup .popup-inner {
  top: 50%;
}
>>>>>>> 227f1ec67bb8b18efcd91a897ca5d8dd9c0523f6:styles.css
