* {
  box-sizing: border-box;
  background-color: #ffff99;
}


p {
    font-size: 23px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 10px;
    color: #4d2800;
    text-decoration: none;
}

.tcimg {
    position: relative;
    height: 200px;
    width: 200px;
    left: 40px;
    top: 30px;
    
  }

body {
  margin: 0;
  
}

.header {
  text-align: center;
  padding: 32px;
  color: brown;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
